@charset "utf-8";
// sideBar
#sideBar {
    width: 68px;
    position: fixed;
    top: 210px;
    right: 30px;
    z-index: 999;
    border: 1px solid #ccc;
    span {
        display: block;
        cursor: pointer;
        height: 32px;
        font-size: 11px;
        text-align: center;
        line-height: 32px;
        color: #FE0A09;
        border-bottom: 1px solid #ccc;
        background: #fff;
    }
    a {
        display: block;
        height: 56px;
        background: url(../img/list/r_menu_bg.jpg) no-repeat;
    }
    a:nth-of-type(1) {
        background-position: -2px 0;
    }
    a:nth-of-type(2) {
        background-position: -2px -58px;
        position: relative;
        i {
            position: absolute;
            top: 5px;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #D43D36;
            font-size: 9px;
            color: #fff;
            text-align: center;
            line-height: 20px;
        }
    }
    a:nth-of-type(3) {
        background-position: -2px -115px;
    }
    a:nth-of-type(4) {
        background-position: -2px -171px;
    }
}

.mainGoods {
    padding: 10px 100px 0 100px;
    // 您的位置
    .position {
        margin-bottom: 16px;
        ul {
            height: 42px;
            border-bottom: 1px solid #ccc;
            li {
                float: left;
                font-size: 11px;
                color: #646464;
                line-height: 42px;
                a {
                    color: #005BA1;
                    margin-right: 5px;
                }
                .theGood {
                    color: #646464;
                }
            }
            li:nth-child(1) {
                padding-left: 12px;
                i {
                    display: inline-block;
                    width: 12px;
                    height: 8px;
                    background: url(../img/good/xsearchico20120615.png) no-repeat 0 0;
                }
            }
        }
    }
    //商品图文信息
    #goodInfor {
        padding-bottom: 32px;
        .goodImg {
            width: 402px;
        }
        .goodText {
            width: 570px;
            >div {
                border-bottom: 1px solid #ccc;
                font-size: 12px;
                line-height: 26px;
                color: #646464;
                >ul>li>span {
                    float: left;
                    width: 63px;
                }
                >ul>li .space1 {
                    letter-spacing: 17px;
                }
                >ul>li .space2 {
                    letter-spacing: 5px;
                }
                >ul>li>p {
                    float: left;
                }
            }
            .title {
                font-size: 12px;
                line-height: 26px;
                color: #646464;
                padding-bottom: 5px;
                h2 {
                    color: #000000;
                    font-weight: 900;
                    margin-bottom: 5px;
                }
                li>span {
                    letter-spacing: 17px;
                }
                li>p {
                    a {
                        color: #646464;
                        text-decoration: underline;
                        margin-right: 10px;
                    }
                    a:nth-of-type(2) {
                        text-decoration: underline;
                        color: #005BA1;
                    }
                    span {
                        margin-left: 158px;
                    }
                }
            }
            .goodPrice {
                padding: 23px 0 20px 0;
                .hot>span {
                    color: #EA7514;
                }
                li .s1 {
                    color: #D02C2F;
                    font-size: 18px;
                    i {
                        font-size: 14px;
                    }
                }
                li .s2 {
                    padding-left: 23px;
                    background: url(../img/good/goods_info.gif) no-repeat -254px -762px;
                    margin-left: 12px;
                    i {
                        color: #D02C2F;
                        font-style: normal;
                    }
                }
                .place>p {
                    color: #EA7514;
                    span:nth-child(1) {
                        font-size: 14px;
                        margin-right: 20px;
                    }
                    a {
                        text-decoration: underline;
                        color: #005BA1;
                        position: relative;
                        img {
                            display: none;
                            position: absolute;
                            top: 18px;
                            left: -246px;
                            z-index: 10;
                        }
                    }
                }
                .sui {
                    a {
                        text-decoration: underline;
                        color: #005BA1;
                        margin-left: 5px;
                        position: relative;
                        .suiInfor {
                            display: none;
                            position: absolute;
                            top: -82px;
                            left: -22px;
                            width: 302px;
                            height: 80px;
                            padding: 5px 6px 0;
                            line-height: 20px;
                            font-size: 12px;
                            background: url(../img/good/tipsbg.gif) no-repeat;
                            color: #4d4d4d;
                            font-style: normal;
                        }
                    }
                }
            }
            .sizeInfor {
                padding: 18px 0 20px 0;
                li {
                    margin-bottom: 16px;
                    >a {
                        text-decoration: underline;
                        color: #005BA1;
                        margin-left: 5px;
                    }
                }
                p .same {
                    display: inline-block;
                    width: 42px;
                    height: 26px;
                    border: 1px solid #ccc;
                    margin-right: 8px;
                    text-align: center;
                    line-height: 22px;
                    cursor: pointer;
                }
                p .sizeActive {
                    border: 2px solid #FF6602;
                    background: url(../img/good/goods_info.gif) no-repeat -234px -51px;
                }
                li:nth-of-type(3) {
                    p span {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border: 1px solid #ccc;
                        text-align: center;
                        line-height: 13px;
                        vertical-align: middle;
                        margin: 2px;
                        cursor: pointer;
                    }
                    p input {
                        width: 52px;
                        height: 22px;
                        border: 1px solid #ccc;
                        text-align: center;
                    }
                }
                li:nth-of-type(4) {
                    a {
                        text-decoration: none;
                        color: #000000;
                        padding-left: 22px;
                        margin-right: 2px;
                    }
                    a:nth-child(1) {
                        background: url(../img/good/fqb.gif) no-repeat 0 0;
                        position: relative;
                        em {
                            display: none;
                            position: absolute;
                            top: -82px;
                            left: -5px;
                            width: 430px;
                            height: 82px;
                            padding: 5px 0 0 8px;
                            line-height: 20px;
                            font-size: 12px;
                            background: url(../img/good/tipsbg.gif) no-repeat;
                            background-size: 428px 82px;
                            color: #4d4d4d;
                            font-style: normal;
                            img {
                                position: absolute;
                                top: 8px;
                                right: 5px;
                            }
                        }
                    }
                    a:nth-child(2) {
                        background: url(../img/good/gift.gif) no-repeat 0 0;
                    }
                    a:nth-child(3) {
                        background: url(../img/good/fwb.jpg) no-repeat 0 0;
                    }
                }
                .addTo {
                    a {
                        display: inline-block;
                        width: 152px;
                        height: 36px;
                        border-radius: 5px;
                        background: url(../img/good/goods_info.gif) no-repeat;
                        margin-right: 4px;
                    }
                    .buy {
                        background-position: 0 -879px;
                        // 844
                    }
                    .toCart {
                        background-position: 0 -952px;
                        // 916
                    }
                    .like {
                        width: 62px;
                        background-position: -211px -1435px;
                        // 1471
                    }
                }
                .tel {
                    margin-top: -10px;
                    color: #EA7414;
                    p span:nth-child(1) {
                        font-size: 13px;
                        font-weight: 900;
                    }
                    p span:nth-child(2) {
                        color: #8E7EA2;
                    }
                }
            }
            .share {
                border: none;
                padding: 20px 0 12px 0;
                height: 120px;
                .wechat {
                    width: 220px;
                    height: 90px;
                    border-right: 1px solid #ccc;
                    margin-right: 50px;
                    img {
                        float: left;
                        margin-right: 16px;
                    }
                    p {
                        padding-top: 30px;
                        line-height: 18px;
                        font-size: 12px;
                        color: #707070;
                    }
                }
                .weibo {
                    padding-top: 30px;
                    span {
                        font-size: 12px;
                        color: #707070;
                        line-height: 24px;
                        height: 24px;
                        vertical-align: top;
                    }
                    a {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        margin-right: 2px;
                        background: url(../img/good/goods_info.gif) no-repeat;
                    }
                    a:nth-of-type(1) {
                        background-position: -13px -27px;
                    }
                    a:nth-of-type(2) {
                        background-position: -44px -27px;
                    }
                    a:nth-of-type(3) {
                        background-position: -107px -27px;
                    }
                    a:nth-of-type(4) {
                        background-position: -139px -27px;
                    }
                    a:nth-of-type(5) {
                        background-position: -170px -27px;
                    }
                }
            }
        }
    }
    // 商品信息和品牌评论
    #headTab {
        height: 40px;
        background: #EFEFEF;
        border-bottom: 2px solid #EA7515;
        .tabL a {
            float: left;
            width: 140px;
            height: 38px;
            line-height: 40px;
            font-size: 12px;
            text-align: center;
            border-right: 1px solid #fff;
            color: #000;
        }
        .btnInfor {
            color: #fff;
            background: #EA7515;
        }
        .active {
            color: #fff;
            background: #EA7515;
        }
        .tabR {
            position: relative;
            padding: 10px 126px 0 0;
            span {
                font-weight: 900;
                font-size: 14px;
                color: #DA1608;
            }
            a {
                position: absolute;
                top: 8px;
                right: 16px;
                width: 98px;
                height: 26px;
                background: url(../img/good/goods_info.gif) no-repeat 0 -1466px;
            }
        }
    }
    .fixedTop{
        position: fixed;
        top: 0;
        left: 50%;
        transform:translateX(-50%);
        z-index: 999;
        background: #fff;
        width:1000px;
    }
    
    // 图片区、左侧商品浏览记录
    .tabInforL {
        width: 774px;
        .inforBox {
            h3 {
                height: 24px;
                font-size: 12px;
                font-weight: 900;
                line-height: 24px;
                background: #F3F3F3;
                margin: 22px 0;
                padding-left: 12px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                color: #676767;
                font-size: 11px;
                td {
                    width: 258px;
                    height: 32px;
                    border: 1px solid #ccc;
                    padding-left: 6px;
                }
            }
            .tip {
                font-size: 11px;
                color: #676767;
                line-height: 23px;
                padding-left: 20px;
                span {
                    float: left;
                    color: #FF0116;
                    font-weight: 900;
                }
                p {
                    float: left;
                    width: 658px;
                }
            }
            .imgInfor2 img {
                width: 700px;
            }
        }
        .conTop {
            height: 170px;
            border: 1px solid #ccc;
            padding: 30px 0 0 30px;
            margin: 20px 0 18px 0;
            font-size: 11px;
            color: #555555;
            line-height: 22px;
            .conTopL {
                width: 310px;
                height: 110px;
                border-right: 1px solid #ccc;
                // margin-right:20px;
                p {
                    margin-right: 22px;
                    span {
                        display: block;
                        margin-bottom: 18px;
                        strong {
                            color: #EE7F2C;
                            font-size: 30px;
                        }
                    }
                }
                .starImg {
                    display: inline-block;
                    width: 78px;
                    height: 15px;
                    background: url(../img/good/goods_info.gif) no-repeat -192px -1187px;
                }
                ul>li {
                    margin-bottom: 18px;
                    span {
                        margin: 0 22px;
                    }
                }
            }
            .conTopC {
                width: 220px;
                padding-left: 20px;
                border-right: 1px solid #ccc;
                p {
                    line-height: 26px;
                    font-size: 12px;
                    margin-bottom: 18px;
                }
                ul>li {
                    float: left;
                    margin-right: 6px;
                }
            }
            .conTopR {
                width: 210px;
                padding: 10px 0 0 20px;
                >a {
                    display: block;
                    width: 114px;
                    height: 24px;
                    background: #EA7514;
                    color: #fff;
                    line-height: 24px;
                    text-align: center;
                    margin-bottom: 13px;
                }
            }
        }
        .conHead {
            height: 34px;
            background: #EFEFEF;
            padding: 4px 0 0 8px;
            font-size: 11px;
            color: #000000;
            margin-bottom: 24px;
            li {
                float: left;
                height: 30px;
                line-height: 30px;
                padding: 0 20px;
                cursor: pointer;
            }
            .active {
                background: #fff;
            }
            div {
                padding-top: 3px;
            }
        }
        #mainCon {
            margin-bottom: 20px;
            li {
                font-size: 10px;
                line-height: 24px;
                color: #555555;
                margin-bottom: 24px;
                .user {
                    width: 95px;
                    img {
                        display: block;
                        width: 94px;
                        border: 1px solid #E5E5E5;
                    }
                    p {
                        line-height: 36px;
                        text-align: center;
                    }
                    a {
                        color: #E4780C;
                    }
                }
                .say {
                    width: 662px;
                    border: 1px solid #E5E5E5;
                    padding: 20px;
                    img {
                        display: block;
                        float: left;
                        width: 100px;
                        height: 100px;
                        margin-right: 18px;
                        border: 1px solid #E5E5E5;
                    }
                    .sayWhat {
                        .rank span {
                            display: inline-block;
                            width: 78px;
                            height: 19px;
                            margin: 0 18px 0 20px;
                            background: url(../img/good/goods_info.gif) no-repeat -192px -1183px;
                        }
                        .rank i {
                            display: inline-block;
                            width: 56px;
                            height: 17px;
                            color: #EA7514;
                            border: 1px solid #EA7514;
                            background: #FFF8EE;
                            font-style: normal;
                            line-height: 15px;
                            margin-right: 5px;
                        }
                        .think span {
                            color: #FF0000;
                        }
                        .words {
                            margin: 10px 0 35px 0;
                        }
                        .item a {
                            float: left;
                            width: 265px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #005AA0;
                            margin-right: 55px;
                        }
                    }
                }
            }
        }
        #fpage {
            height: 24px;
            float: right;
            margin: 0 0 22px 0;
            p {
                display: inline-block;
            }
            span {
                display: inline-block;
                padding: 0 13px;
                line-height: 24px;
                font-size:14px;
                border: 1px solid #ccc;
                cursor: pointer;
                margin:0 3px;
            }
            .active {
                color: #FF662F;
                border: 1px solid #FF662F;
            }
        }
        .conInfor {
            width: 1000px;
            .conTop {
                width: 1000px;
            }
            .conTopL {
                width: 370px;
            }
            .conTopC {
                width: 240px;
            }
            .conTopR {
                width: 310px;
            }
            #mainCon li .say {
                width: 870px;
                .sayWhat .item a {
                    width: 488px;
                }
            }
        }
    }
    .tabInforR {
        width: 210px;
        border: 1px solid #ccc;
        margin-top: 22px;
        h3 {
            height: 24px;
            font-size: 12px;
            font-weight: 900;
            line-height: 24px;
            background: #F3F3F3;
            margin-bottom: 22px;
            padding-left: 12px;
        }
        li {
            margin-bottom: 10px;
            padding: 0 15px 10px 8px;
            img {
                display: block;
                width: 80px;
                float: left;
                margin-right: 9px;
            }
            p {
                font-size: 10px;
                line-height: 24px;
            }
        }
    }
}